work/
nextflow_results/
proc/
notebooks/
.nextflow/
.vscode/
astrocyte_vis_app/
slurm_logs/
.nextflow.log*
figures/
env/
data/
$SCRATCH/
__pycache__
**/__init__.pyc
pytorch/
RiboTIE/
ribotie_res/
from_collaborator/
envs/
GRCh38v47/