work/
nextflow_results/
proc/
.nextflow/
.vscode/
astrocyte_vis_app/**
!astrocyte_vis_app/app.R
slurm_logs/
.nextflow.log*
figures/
env/
data/
$SCRATCH/
__pycache__
**/__init__.pyc
pytorch/
ribotie_res/
from_collaborator/
scripts/sbatch/
.DS_Store
export/
notebooks/