params {
    kinnex_adapters = "$projectDir/data/long_read/mas8_primers.fasta"
    isoseq_primers = "$projectDir/data/long_read/IsoSeq_v2_primers_12.fasta"
    biosamples_csv = "$projectDir/data/long_read/pacbio/biosamples.csv"
    ref_genome_fasta = "/project/rrg-shreejoy/Genomic_references/GENCODE/GRCh38.primary_assembly.genome.fa"
    ref_genome_index = "/project/rrg-shreejoy/Genomic_references/GENCODE/GRCh38.primary_assembly.genome.fa.fai"
    chrom_sizes = "$projectDir/data/hg38.p13.chrom.sizes"
    refTSS = "$projectDir/data/long_read/refTSS_v3.3_human_coordinate.hg38.sorted.bed"
    polyA_motif_list = "$projectDir/data/long_read/polyA.list.txt"
    annotation_gtf = "/project/rrg-shreejoy/Genomic_references/GENCODE/gencode.v47.annotation.gtf"
    star_genomeDir = "STAR_index_v47"
    compression_level = 9
    outdir = "/scratch/nxu/astrocytes/nextflow_results"
    hifi_reads_bam = "data/long_read/pacbio/*/*/*/hifi_reads/*.hifi_reads.bcM0001.bam"
    input_rna_fastq = "data/short_read/*_R{1,2}_001.fastq.gz"
    riboseq_unmapped_to_contaminants = "data/ribo_seq/*Unmapped.out.mate1"
    filter_configs = [
            ['low_stringency', 1, 2],
            ['high_stringency', 5, 3]
        ]
    ribotie_training_inputs = "nextflow_results/manifests/ribotie_training_inputs.json"
    ribotie_training_outputs = "nextflow_results/manifests/ribotie_training_outputs.json"
    pfamdb = "data/pfamdb"
    PhyloCSFpp_db = "data/PhyloCSF_tracks_hg38_100"
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "/project/rrg-shreejoy/nxu/NXF_SINGULARITY_CACHEDIR/"
}

conda {
    enabled = true
}

executor {
    name = 'slurm'
}

profiles {
    trillium {
        process {
            executor = 'local'
            cpus = 1
            memory = ""
            time = "01:00:00"
            withLabel: short_slurm_job {
                executor = 'slurm'
                time = "01:00:00"
                cpus = 192
            }
            withLabel: mid_slurm_job {
                executor = 'slurm'
                time = "04:00:00"
                cpus = 192
            }    
            withLabel: long_slurm_job {
                executor = 'slurm'
                time = "24:00:00"
                cpus = 192
            }
        }
    }
    trillium_gpu {
        process {
            withLabel: mid_slurm_job {
                executor = 'slurm'
                time = "6:00:00"
                clusterOptions = '--gpus-per-node=1'

            }
        }
    }
    narval {
        process {
            cpus = 1
            memory = ""
            time = "02:00:00"
            withLabel: short_slurm_job {
                executor = 'slurm'
                time = "01:00:00"
                cpus = 16
                memory = "20GB"
            }
            withLabel: mid_slurm_job {
                executor = 'slurm'
                time = "08:00:00"
                cpus = 16
                memory = "45GB"
            }    
            withLabel: long_slurm_job {
                executor = 'slurm'
                time = "12:00:00"
                cpus = 16
                memory = "45GB"
            }
            withName: SALMON_INDEX {
                executor = 'slurm'
                time = "2:00:00"
                cpus = 32
                memory = "40GB"
            }
            withName: SALMON_QUANT {
                executor = 'slurm'
                time = "2:00:00"
                cpus = 32
                memory = "40GB"
            }
        }
    }
    local {
        process {
            executor = 'local'
            cpus = 1
        }
    }
}