params {
    kinnex_adapters = "$projectDir/data/long_read/mas8_primers.fasta"
    isoseq_primers = "$projectDir/data/long_read/IsoSeq_v2_primers_12.fasta"
    biosamples_csv = "$projectDir/data/long_read/pacbio/biosamples.csv"
    ref_genome_fasta = "/project/rrg-shreejoy/Genomic_references/GENCODE/GRCh38.primary_assembly.genome.fa"
    ref_genome_index = "/project/rrg-shreejoy/Genomic_references/GENCODE/GRCh38.primary_assembly.genome.fa.fai"
    refTSS = "$projectDir/data/long_read/refTSS_v3.3_human_coordinate.hg38.sorted.bed"
    polyA_motif_list = "$projectDir/data/long_read/polyA.list.txt"
    annotation_gtf = "/project/rrg-shreejoy/Genomic_references/GENCODE/gencode.v47.annotation.gtf"
    star_genomeDir = "/project/rrg-shreejoy/Genomic_references/GENCODE/STAR_index_v47"
    compression_level = 9
    outdir = "/scratch/nxu/astrocytes/nextflow_results"
}

process {
    withName: 'sqanti_qc_bambu' {
        storeDir = "nextflow_results/sqanti3/bambu"
    }
    withName: 'sqanti_filter_bambu' {
        storeDir = "nextflow_results/sqanti3/bambu"
    }
    withName: 'sqanti_qc_isoseq' {
        storeDir = "nextflow_results/sqanti3/isoseq"
    }
    withName: 'sqanti_filter_isoseq' {
        storeDir = "nextflow_results/sqanti3/isoseq"
    }
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "/project/rrg-shreejoy/nxu/NXF_SINGULARITY_CACHEDIR/"
}

conda {
    enabled = true
}

executor {
    name = 'slurm'
}

profiles {
    trillium {
        process {
            executor = 'local'
            cpus = 1
            memory = ""
            time = "01:00:00"
            withLabel: short_slurm_job {
                executor = 'slurm'
                time = "01:00:00"
                cpus = 192
            }
            withLabel: mid_slurm_job {
                executor = 'slurm'
                time = "04:00:00"
                cpus = 192
            }    
            withLabel: long_slurm_job {
                executor = 'slurm'
                time = "24:00:00"
                cpus = 192
            }
        }
    }
    login {
        process {
            withLabel: short_slurm_job {
                executor = 'local'
            }
        }
    }
    narval {
        process {
            cpus = 1
            memory = ""
            time = "02:00:00"
            withLabel: short_slurm_job {
                executor = 'slurm'
                time = "01:00:00"
                cpus = 16
                memory = "20GB"
            }
            withLabel: mid_slurm_job {
                executor = 'slurm'
                time = "08:00:00"
                cpus = 16
                memory = "45GB"
            }    
            withLabel: long_slurm_job {
                executor = 'slurm'
                time = "12:00:00"
                cpus = 16
                memory = "45GB"
            }
            withName: SALMON_INDEX {
                executor = 'slurm'
                time = "2:00:00"
                cpus = 32
                memory = "40GB"
            }
            withName: SALMON_QUANT {
                executor = 'slurm'
                time = "2:00:00"
                cpus = 32
                memory = "40GB"
            }
        }
    }
    local {
        process {
            executor = 'local'
            cpus = 1
        }
    }
}